<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Rebase Labs</title>
</head>
<body>
    <h2>Resultados dos Exames</h2>
    <br>
    <p id="alerts"></p>
    <form id="search-exams-form">
        <label for="result-token">Código do Exame</label>
        <input id="result-token" name="result-token" type="text" />
        <button id="search-exam-button" type="submit" class="btn normal-btn">Buscar</button>
    </form>
    <section id="search-exam-results-section" class="hidden">
        <button id="back-to-list-button" class="btn normal-btn">Voltar para a lista</button>
        <div id="search-exam-info"></div>
        <div id="search-exam-test-results" class="table-div"></div>
    </section>
    <section id="list-exams-section">
        <div class="table-div">
            <table id="list-exams-table">
                <thead>
                    <tr id="list-exams-table-headers">
                        <th>Token do exame</th>
                        <th>Data do resultado</th>
                        <th>Nome completo</th>
                        <th>CPF</th>
                        <th>E-mail</th>
                        <th>Data de Nascimento (AAAA-MM-DD)</th>
                        <th>CRM Médico(a)</th>
                        <th>Estado do CRM</th>
                        <th>Nome do médico(a)</th>
                    </tr>
                </thead>
                <tbody id="list-exams-tbody">
                </tbody>
            </table>
        </div>
        <div id="pagination"></div>
    </section>
    <script src="main.js"></script>
</body>
</html>